html {
    overflow-y: scroll;
  }  

.Post {
    width: 100%;
    height: 100%; 
    display: block;
    transition: transform 3s ease;
 }

.hidden {
    animation: fadeout 1s;
}

.added {
    animation: fadein 1s;
}

.countText {
    font-size: 80%;
}

.profilePicture {
    width: 6%;
}

#olympusLogo {
    height: 4%;
    width: 4%;
}

#olympusTitle {
    font-size: 150%;
    font-weight: 500;
}

@keyframes fadeout {
    from {
        opacity: 1;
        max-height: 500px;
    }
  
    to {
        opacity: 0; 
        max-height: 0px;
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}