html {
    overflow-y: scroll;
}  

table {
    margin-left: auto;
    margin-right: auto;
  }

#hamburger {
    color: black;
}

#submitButton {
    height: 55px;
    background-color: #4493D4;
    font-size: 85%;
}

#formTextBox {
    font-size: 85%;
}

.card-text {
    font-size: 80%;
}

.App {
    margin-top: 66px;
    margin-bottom: 66px;
}

.name {
    font-size: 85%;
}

.header {
    background-color: #4493D4;   /*#F67D65; #6CD4BD; #9966CC;*/
}

.question {
    border: solid #4493D4;
    border-radius: 5px;
    border-width: 2px;
}

.footer {
    background-color: white;
    border-top: solid #4493D4;  /*#F67D65; #6CD4BD; #9966CC;*/
    height: 60px;
}

.Post {
    display: block;
    transition: transform 3s ease;
 }

 .LikeButton {
    margin-right: -10px;
    margin-bottom: 5px;
 }

.hidden {
    animation: fadeout 1s;
}

.added {
    animation: fadein 1s;
}

.countText {
    font-size: 80%;
}

.profilePicture {
    width: 35px;
    margin-left: -10px;
}

#olympusLogo {
    /* width: 30px; */
}

#olympusTitle {
    font-size: 150%;
    font-weight: 1000;
    color: white;
    font-family: "Monaco";
}

@keyframes fadeout {
    from {
        opacity: 1;
        max-height: 500px;
    }
  
    to {
        opacity: 0; 
        max-height: 0px;
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}