.Post {
    display: block;
    transition: transform 3s ease;
    width: 500px;
    height: 125px;
    display: block;
    transition: transform 3s ease;
    margin: 0px 0px 10px 0px;
    margin-left: auto;
    margin-right: auto;
 }

.hidden {
    animation: fadeaway 1s;
}

@keyframes fadeaway {
    from {
        opacity: 1;
    }
  
    to {
        opacity: 0; 
        height: 0px;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
    }
}
